<!DOCTYPE html>
<html>

<head>
    <title>WebBMS - Play bms file on your browser</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body>
    <h1>WebBMS - Play bms file on your browser</h1>
    <div class="container">
        <div class="button-wrapper">
            <a href="/list"><button><i class="far fa-play-circle"></i></button></a>
            <a href="/setting"><button><i class="fas fa-cog"></i></button></a>
        </div>
    </div>
    <footer>&copy; 2022 Rokr0k, All rights reserved.<br>Made with 🔥 by <a href="https://github.com/rokr0k"
            target="_blank" rel="noopener">Rokr0k</a>, <a href="https://github.com/D3vle0" target="_blank"
            rel="noopener">D3vle0</a></footer>
</body>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</html>