<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <div class="button-wrapper">
            <a href="/list"><button><i class="far fa-play-circle"></i></button></a>
            <a href="/setting"><button><i class="fas fa-cog"></i></button></a>
        </div>
    </div>
</body>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

</html>