<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <a href="/list">
        <div class="center">
            <p>PLAY</p>
        </div>
    </a>

</body>

</html>