<!DOCTYPE html>
<html>

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

        body {
            background: linear-gradient(rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3)), url(/bg.jpeg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border-radius: 10px;
            width: 300px;
            text-align: center;
            min-height: 300px;
            background: rgba(5, 5, 5, 0.363);
            backdrop-filter: blur(10px);
            font-family: 'IBM Plex Sans KR', sans-serif;
        }

        .center:hover {
            /* background: rgba(131, 35, 35, 0.363); */
            backdrop-filter: blur(30px);
        }

        .center p {
            font-size: 40px;
            font-weight: bold;
            color: rgb(255, 255, 255);
            margin-top: 3em;
        }
    </style>
</head>

<body>

    <a href="/list">
        <div class="center">
            <p>PLAY</p>
        </div>
    </a>

</body>

</html>