<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= bms.title %></title>
    <link rel="stylesheet" href="/play.css">
</head>

<body>
    <canvas id="cvs">No supported</canvas>
    <div id="bga"></div>
</body>

<script>
    let bmsC = <%- JSON.stringify(bms) %>;
</script>
<script lang="text/javascript" src="/script.js">
    
</script>

</html>