<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Setting</title>
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/css/setting.css" type="text/css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
	<h1>Setting</h1>
	<div>
		<input type="button" class="btn btn-danger setting-btn" value="Reset" onclick=reset()></input>
		<input type="button" class="btn btn-success setting-btn" value="Save And Exit" onclick=save()></input><br><br>
		<div class="container">
			<label>Background Color: <span id="bg-val"></span> <input type="color" name="bg-color"
					id="bg-color"></label><br><br>
			<label>Effect Color: <span id="effect-val"></span> <input type="color" name="effect-color"
					id="effect-color"></label><br><br>
			<label>Gauge Color: <span id="gauge-val"></span> <input type="color" name="gauge-color"
					id="gauge-color"></label><br><br>
			<label>Gear Color: <span id="gear-val"></span> <input type="color" name="gear-color"
					id="gear-color"></label><br><br>
			<label>Text Color: <span id="text-val"></span> <input type="color" name="text-color"
					id="text-color"></label><br><br>
			<label>Scratch Color: <span id="scratch-val"></span> <input type="color" name="scratch-color"
					id="scratch-color"></label><br><br>
			<label>Lower Color: <span id="lower-val"></span> <input type="color" name="lower-color"
					id="lower-color"></label><br><br>
			<label>Higher Color: <span id="higher-val"></span> <input type="color" name="higher-color"
					id="higher-color"></label><br><br>
			<label>Mine Color: <span id="mine-val"></span> <input type="color" name="mine-color"
					id="mine-color"></label><br><br>
			<label>PGREAT Color: <span id="pgreat-val"></span> <input type="color" name="pgreat-color"
					id="pgreat-color"></label><br><br>
			<label>GREAT Color: <span id="great-val"></span> <input type="color" name="great-color"
					id="great-color"></label><br><br>
			<label>GOOD Color: <span id="good-val"></span> <input type="color" name="good-color"
					id="good-color"></label><br><br>
			<label>BAD Color: <span id="bad-val"></span> <input type="color" name="bad-color"
					id="bad-color"></label><br><br>
			<label>POOR Color: <span id="poor-val"></span> <input type="color" name="poor-color"
					id="poor-color"></label><br><br>
			<label>P1 Scratch: <input type="text" onkeydown="setKey(event, 'p1-0')" id="p1-0"></label><br><br>
			<label>P1 1: <input type="text" onkeydown="setKey(event, 'p1-1')" id="p1-1"></label><br><br>
			<label>P1 2: <input type="text" onkeydown="setKey(event, 'p1-2')" id="p1-2"></label><br><br>
			<label>P1 3: <input type="text" onkeydown="setKey(event, 'p1-3')" id="p1-3"></label><br><br>
			<label>P1 4: <input type="text" onkeydown="setKey(event, 'p1-4')" id="p1-4"></label><br><br>
			<label>P1 5: <input type="text" onkeydown="setKey(event, 'p1-5')" id="p1-5"></label><br><br>
			<label>P1 6: <input type="text" onkeydown="setKey(event, 'p1-6')" id="p1-6"></label><br><br>
			<label>P1 7: <input type="text" onkeydown="setKey(event, 'p1-7')" id="p1-7"></label><br><br>
			<label>P2 Scratch: <input type="text" onkeydown="setKey(event, 'p2-0')" id="p2-0"></label><br><br>
			<label>P2 1: <input type="text" onkeydown="setKey(event, 'p2-1')" id="p2-1"></label><br><br>
			<label>P2 2: <input type="text" onkeydown="setKey(event, 'p2-2')" id="p2-2"></label><br><br>
			<label>P2 3: <input type="text" onkeydown="setKey(event, 'p2-3')" id="p2-3"></label><br><br>
			<label>P2 4: <input type="text" onkeydown="setKey(event, 'p2-4')" id="p2-4"></label><br><br>
			<label>P2 5: <input type="text" onkeydown="setKey(event, 'p2-5')" id="p2-5"></label><br><br>
			<label>P2 6: <input type="text" onkeydown="setKey(event, 'p2-6')" id="p2-6"></label><br><br>
			<label>P2 7: <input type="text" onkeydown="setKey(event, 'p2-7')" id="p2-7"></label><br><br>
			<label>Speed Down: <input type="text" onkeydown="setKey(event, 'speed-down')" id="speed-down"></label><br><br>
			<label>Speed Up: <input type="text" onkeydown="setKey(event, 'speed-up')" id="speed-up"></label><br><br>
			<label>Speed: <input type="number" min="0.1" max="10" step="0.1" id="speed"></label><br><br>
		</div>
	</div>
	<footer>&copy; 2021 Rokr0k, All rights reserved.<br>Made with 🔥 by <a href="https://github.com/rokr0k"
			target="_blank" rel="noopener">Rokr0k</a>, <a href="https://github.com/D3vle0" target="_blank"
			rel="noopener">D3vle0</a></footer>
</body>
<script type="text/javascript" src="/js/setting.js"></script>

</html>