<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
</head>

<body>
    <h1>Setting</h1>
    <input type="button" onclick=reset() value="reset"><br><br>
    <label>Background Color: <span id="bg-val"></span> <input type="color" name="bg-color"
            id="bg-color"></label><br><br>
    <label>Effect Color: <span id="effect-val"></span> <input type="color" name="effect-color"
            id="effect-color"></label><br><br>
    <label>Gauge Color: <span id="gauge-val"></span> <input type="color" name="gauge-color"
            id="gauge-color"></label><br><br>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    document.getElementById('bg-color').addEventListener('change', function () {
        var bgColor = document.getElementById('bg-color').value;
        document.getElementById('bg-val').innerHTML = bgColor;
        localStorage["bg-color"] = bgColor;
    });

    document.getElementById('effect-color').addEventListener('change', function () {
        var effectColor = document.getElementById('effect-color').value;
        document.getElementById('effect-val').innerHTML = effectColor;
        localStorage["effect-color"] = effectColor;
    });

    document.getElementById('gauge-color').addEventListener('change', function () {
        var gaugeColor = document.getElementById('gauge-color').value;
        document.getElementById('gauge-val').innerHTML = gaugeColor;
        localStorage["gauge-color"] = gaugeColor;
    });

    $(document).ready(function () {
        document.getElementById('bg-val').innerHTML = localStorage["bg-color"];
        document.getElementById('effect-val').innerHTML = localStorage["effect-color"];
        document.getElementById('gauge-val').innerHTML = localStorage["gauge-color"];
    });

    function reset() {
        const reset = confirm("Are you sure you want to reset?");
        if (reset) {
            localStorage.clear();
            localStorage["bg-color"] = "#1F2F2F";
            localStorage["effect-color"] = "#FFA500C0";
            localStorage["gauge-color"] = "#00BFFF";
            location.reload();
        }
    }
</script>

</html>