<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body>
    <h1>Setting</h1>
    <input type="button" onclick=reset() value="reset"><br><br>
    <label>Background Color: <span id="bg-val"></span> <input type="color" name="bg-color"
            id="bg-color"></label><br><br>
    <label>Effect Color: <span id="effect-val"></span> <input type="color" name="effect-color"
            id="effect-color"></label><br><br>
    <label>Gauge Color: <span id="gauge-val"></span> <input type="color" name="gauge-color"
            id="gauge-color"></label><br><br>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/setting.js"></script>

</html>